body{
    background: linear-gradient(to bottom, rgb(137, 186, 238), rgba(139, 183, 231, 0.4));
    
    /*a in rgba is for opacity*/
}
#title{
    color: rgb(184, 143, 32);
}
.subtitle{
    color: rgb(150, 120, 40);
}
#para-div{
    background: radial-gradient(circle, red 20%, blue 40%, green 60%);
}
/*    */